body{
	margin: 0px;
}

.nav{
	position: fixed;
	right: 20px;
	top:30%;
	z-index: 4;
	text-align: right;
}
.nav li{
	list-style-type: none;
}
.nav a{
	text-decoration: none;
	color: #515050;
}
.nav a span{
	color: transparent;
	font-family: 'Helvetica';
	text-transform: uppercase;

}
.nav a:hover span {
	color: #c1c1c1;
	-webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
.nav a.active{
	color: #47f705;
}
.active{
	color:#47f705;
}


.menu{
	height: 5vw;
	background-color: transparent;
}
.menu span{
	position: absolute;
	left: 1vw;
	top:1vw;
	font-family: 'Fredericka the Great', cursive;
	font-size: 2.5vw;
}
.menu ul{
	position: absolute;
	right: 1vw;
	top:1vw;
	margin:0;
	font-size: 2.5vw;
}
.menu ul li{
	float: left;
	position: relative;
	margin-left: 2vw;
	list-style-type: none;
	font-family: 'Fredericka the Great', cursive;
}
.menu ul li a{
	text-decoration: none;
	color: black;
}
.menu ul li a:hover{
	color: #47f705;
	transition: 1s;
}

.parallax-window {
    background: transparent;
}

#main_foto{
	height: 400px;
}
#main_foto_contact{
	height: 400px;
}

#about{
	max-height: 100vh;
	margin-top: 10vh;
	min-width: 100vw;
	display: inline-block;

}
#about h2{
	text-align: center;
	font-family: 'Helvetica';
	color: #515050;
	font-size: 1.5vw;
}
#about p{
	font-family: 'Helvetica';
	color: #515050;
	padding-left: 30vw;
	padding-right: 30vw;
	padding-top: 6vh;
	line-height: 1.5;
	min-width: 200px;
	font-size: 1.2vw;
}
#minicon{
	text-align: center;
	color: #515050;
}
#minicon a{
	text-decoration: none;color: #515050;
}
#minicon a:hover{color:#47f705; }
#about_sector{
	padding-left: 22.5vw;
	padding-top: 5vh;display: inline-block;
}

.about_block{
	float: left;
	width: 15vw;
}

.about_img{
	margin-left: 5vw;
}

#about_image1{
	height: 5vw;
	width: 5vw;
	background: url(../images/about1.png) no-repeat;
	background-size: cover;
}


#about_image2{
	height: 5vw;
	width: 5vw;
	background: url(../images/about4.png) no-repeat;
	background-size: cover;
}
#about_image3{
	height: 5vw;
	width: 5vw;
	background: url(../images/about2.png) no-repeat;
	background-size: cover;
}
#about_image4{
	height: 5vw;
	width: 5vw;
	background: url(../images/about3.png) no-repeat;
	background-size: cover;
}
.about_txt{
	float:left;
	padding-top: 5vh;
	position: relative;
	height: 12vw;
	width: 15vw;
	font-family: 'Helvetica';
	color: #515050;
	line-height: 1.5;
	font-size: 1.2vw;
}



#foto{
	max-height: 50vh;
	width: 100vw;
    display: inline-block;
}

#foto h2{
	text-align: center;
	font-family: 'Helvetica';
	color: #515050;
}

div#carousel { 
  perspective: 100vw; 
  background: #fff; 
  padding-top: 0; 
  padding-left: 5vw;
  font-size:0; 
  margin-bottom: 3rem; 
  overflow: hidden; 
}
figure#spinner { 
  transform-style: preserve-3d; 
  height: 50vh; 
  padding-top: 5vh;
  transform-origin: 50% 50% -80vh; 
  transition: 2s; 
} 
figure#spinner a{ 
  width: 40%; max-width: 28vw; 
  position: absolute; left: 31.5%;
  transform-origin: 50% 50% -80vh;
  outline:1px solid transparent; 
}
figure#spinner img{ 
  width: 100%; max-width: 28vw; min-width: 20vw;
  position: absolute; 
  transform-origin: 50% 50% -80vh;
  outline:1px solid transparent; 
}
figure#spinner a:nth-child(1) { transform:rotateY(0deg); }
figure#spinner a:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner a:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner a:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner a:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner a:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner a:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner a:nth-child(8){ transform: rotateY(-315deg); }
div#carousel ~ span { 
  color: #000; 
  margin: 5%; 
  display: inline-block; 
  text-decoration: none; 
  font-size: 2rem; 
  transition: 0.6s color; 
  position: relative; 
  margin-top: -6rem; 
  border-bottom: none; 
  line-height: 0; }
div#carousel ~ span:hover { color: #888; cursor: pointer; }



#expepience{
	
	margin-top: 10vh;
	margin-bottom: 10vh;
	
	display: inline-block;
}
#expepience h2{
	text-align: center;
	font-family: 'Helvetica';
	color: #515050;
	font-size: 1.5vw;
}
#expepience h3{
	float: left;
	padding-left:20vw;
	padding-top: 10vh; 
	text-align: center;
	font-family: 'Helvetica';
	color: #515050;
	font-size: 1.5vw;

}
#confucius{
	margin-top: 10vh;
	display: inline-block;
}
#expepience p{
	font-family: 'Helvetica';
	padding-left: 25vw;
	padding-right: 25vw;
	padding-top: 6vh;
	line-height: 1.5;
	color: #515050;
	font-size: 1.2vw;
}

#expepience p a{
	text-decoration: none;
	color: #515050;
}
#expepience p a:hover{
	color: #47f705;
}

#expepience span{
	font-family: 'Helvetica';
	font-weight: bold;
	padding-left: 65vw;
	padding-top: 6vh;
	line-height: 1.5;
	color: #515050;
	font-size: 1.5vw;
}
#experience_sector{
	padding-left: 22vw;
	padding-top: 5vh;
}
.expepience_block{
	float:left;
	position: relative;
	width: 20vw;
}

.experience_img{
	margin-left: 5vw;
}

#expepience_image1{
	height: 5vw;
	width: 5vw;
	background: url(../images/expepience1.png) no-repeat;
	background-size: cover;
}
#expepience_image2{
	height: 5vw;
	width: 5vw;
	background: url(../images/expepience2.png) no-repeat;
	background-size: cover;
}
#expepience_image3{
	height: 5vw;
	width: 5vw;
	background: url(../images/expepience3.png) no-repeat;
	background-size: cover;
}

.expepience_txt{
	float:left;
	padding-top: 5vh;
	position: relative;
	height: 12vh;
	width: 20vw;
	font-family: 'Helvetica';
	line-height: 1.5;
	color: #515050;
	font-size: 1.2vw;
}

#contact{
	display: inline-block;
	margin-top: 10vh;
	margin-bottom: 10vh;
	width: 100vw;
}
#contact h2{
	text-align: center;
	font-family: 'Helvetica';
	color: #515050;
	font-size: 1.5vw;
}
#contact ul{
	font-family: 'Helvetica';
	padding-left: 20vw;
	padding-top: 5vh;
	line-height: 1.5;
	color: #515050;
	list-style-type: none;
	float: left;
	font-size: 1.2vw;
}
#contact ul li a{
	text-decoration: none;
	color: #515050;
}
#contact ul li a:hover{
	color: red;
}
#contact ul li:first-child span{
	color: #4367b3;
	font-weight: bold;
}
#contact ul li:nth-child(2) span{
	color: #cd486b;
	font-weight: bold;
}
#contact ul li:nth-child(3) span{
	color: #0088cc;
	font-weight: bold;	
}
#contact p{
	padding-top: 5vh;
	padding-left: 20vw;
	float: left;
	font-family: 'Helvetica';
	line-height: 1.5;
	color: #515050;
	font-size: 1.2vw;
}
#contact p a{
	text-decoration: none;
	color: #515050;
}
#contact p a:hover{
	color: red;}

#footer{
	height: 10vh;
	background-color: #515050;;
	padding-top:5vh;
	padding-left: 5vw;
	font-family: 'Helvetica';
	color: #fff;
	font-size: 1.2vw;
}

@media screen and (max-device-width: 1100px){
	figure#spinner {height: 30vh;  }
}

@media screen and (max-device-width: 900px){
  figure#spinner {height: 20vh;  }
 
}

@media screen and (max-device-width: 700px){
	#about h2{
		font-size: 2.5vh;
	}
	#about p{
		padding-left: 10vw;
		padding-right: 10vw;
		padding-top: 1vh;
		min-width: 200px;
		font-size: 2vh;
	}
	#about_sector{
		padding-left: 20vw;
	}
	.about_block{
		width: 80vw;
	}

	.about_img{
		margin-left: 20vw;
	}
	#about_image1{
		height: 15vw;
		width: 15vw;
	}

	#about_image2{
		height: 15vw;
		width: 15vw;
	}
	#about_image3{
		height: 15vw;
		width: 15vw;
	}
	#about_image4{
		height: 15vw;
		width: 15vw;
	}
	.about_txt{
		padding-top: 5vh;
		height: 30vw;
		width: 60vw;
		font-size: 2vh;
	}

	#foto h2{
		font-size: 2vh;
	}
	#exp #main_foto{
		display: none;
	}

	#expepience h2{
	font-size: 2.5vh;
	}
	#expepience h3{
		padding-left:5vw;
		padding-top: 2vh; 
		font-size: 2.5vh;
		min-width: 200px;
	}
	#expepience p{
		padding-left: 10vw;
		padding-right: 10vw;
		padding-top: 1vh;
		min-width: 200px;
		font-size: 1vh;
	}
	#expepience span{
		padding-left: 65vw;
		padding-top: 6vh;
		font-size: 2vh;
	}
	#experience_sector{
		padding-left: 20vw;
		padding-top: 1vh;
	}
	.expepience_block{
		float:left;
		position: relative;
		width: 80vw;

	}

	.experience_img{
		margin-left: 20vw;
	}

	#expepience_image1{
		height: 15vw;
		width: 15vw;
	}
	#expepience_image2{
		height: 15vw;
		width: 15vw;
	}
	#expepience_image3{
		height: 15vw;
		width: 15vw;
	}

	.expepience_txt{
		padding-top: 1vh;
		height: 15vh;
		width: 60vw;
		font-size: 2vh;
	}
	#main_foto_contact{
		height: 300px;
	}
	#contact{
	margin-top: 2vh;
	margin-bottom: 2vh;
	width: 100vw;
	}
	#contact h2{
		font-size: 2.5vh;
	}
	#contact ul{
		padding-left: 5vw;
		padding-top: 1vh;
		font-size: 1.2vh;
	}
	#contact p{
		padding-top: 1vh;
		padding-left: 20vw;
		font-size: 1.2vh;
	}

	#footer{
		height: 10vh;
		padding-top:5vh;
		padding-left: 5vw;
		font-size: 2vw;
	}
}
